@import "vars";
@import "libs";
@import "fonts";

.slide {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/img/bg.jpg");
    background-size: cover;
}

@keyframes flare {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}

//animation-direction: alternate;
//animation-name: flare;
.text {
    color: #fff;
    overflow: hidden;
    position: relative;
}

.text::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(131,58,180,0) 14%, rgba(253,29,29,1) 29%, rgba(252,176,69,0) 51%);
    animation-name: flare;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}



@import "media";
